.container {
  position: relative;
}

.dropdownButton {
  cursor: pointer;
}

.dropdown {
  position: absolute;
  display: none;
  border-radius: 4px;
  background-color: var(--color-light);
}

.dropdown > * {
  transition: all .2s;
  cursor: pointer;
  padding: var(--padding-l);
}

.dropdown > *:hover {
  background-color: var(--color-grey);
}

.dropdownOpen {
  display: block;
  right: 0;
}

.small {
  min-width: 120px;
}

.medium {
  min-width: 180px;
}

.large {
  min-width: 240px;
}

.auto {
  min-width: fit-content;
}