.container {
  height: 90vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerBox {
  width: 100%;
  position: absolute;
  padding: var(--padding-xxl);
  background-color: var(--color-light);
  box-shadow: var(--box-shadow-m);
  border-radius: 8px;
  max-width: 480px;
  margin: auto;
}

.title {
  text-align: center;
  color: var(--color-primary-dark);
  margin-bottom: var(--padding-xxl);
}

.registerInput {
  display: flex;
  flex-direction: column;
  gap: var(--padding-xl);
}

.inputName {
  display: flex;
  gap: var(--padding-l);
}

.errorMessage {
  text-align: center;
  color: var(--color-destructive);
  font-size: 14px;
}

.alreadyHaveAccount {
  text-align: center;
  margin-top: var(--padding-m);
  font-size: 14px;
}

.loginLink {
  color: var(--color-primary);
  cursor: pointer;
}

.loginLink:active, .registerLink:hover {
  text-decoration: underline;
}