.button {
  padding: var(--padding-m);
  max-width: max-content;
  min-width: 80px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: all .4s;
  border-radius: 4px;
  display: flex;
  gap: var(--padding-m);
  justify-content: center;
  align-items: center;
}

.button:disabled {
  background-color: var(--color-grey) !important;
  border-color: var(--color-grey) !important;
  color: var(--color-grey-dark) !important;
}

.button:disabled * {
  color: var(--color-grey-dark) !important;
}

.button:disabled svg {
  fill: var(--color-grey-dark) !important;
}

.primary {
  border: 1.5px solid var(--color-primary);
}

.primary.filled {
  color: var(--color-light);
  background-color: var(--color-primary);
}

.primary.filled:hover {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}

.primary.outlined {
  background-color: var(--color-light);
  color: var(--color-primary);
}

.primary.outlined:hover {
  background-color: var(--color-grey);
}

.secondary {
  border: 1.5px solid var(--color-secondary);
}

.secondary.filled {
  color: var(--color-light);
  background-color: var(--color-secondary);
}

.secondary.filled:hover {
  background-color: var(--color-secondary-dark);
  border-color: var(--color-secondary-dark);
}

.secondary.outlined {
  background-color: var(--color-light);
  color: var(--color-secondary);
}

.secondary.outlined:hover {
  background-color: var(--color-grey);
}

.destructive {
  border: 1.5px solid var(--color-destructive);
}

.destructive.filled {
  color: var(--color-light);
  background-color: var(--color-destructive);
}

.destructive.filled:hover {
  background-color: var(--color-destructive-dark);
  border-color: var(--color-destructive-dark);
}

.destructive.outlined {
  background-color: var(--color-light);
  color: var(--color-destructive);
}

.destructive.outlined:hover {
  background-color: var(--color-grey);
}

.isFullwidth {
  width: 100%;
  max-width: 100%; 
}