.body {
  min-height: 120px;
  margin: var(--padding-l) 0;
}

.body li {
  font-size: 12px;
}

.header h4 {
  text-decoration: underline;
}

.body * {
  font-size: 14px;
}

.description {
  margin: var(--padding-m) 0;
}

.footer * {
  font-size: 12px !important;
}

.bodyLastLine {
  display: flex;
  justify-content: space-between;
  margin-top: var(--padding-m);
}

.bodyLastLine * {
  font-size: 13px !important;
}

.levelText {
  filter: drop-shadow(1px 1px var(--color-grey-dark));
  font-weight: 700;
  padding: 0 var(--padding-s);
}

.emptySubTask {
  color: var(--color-grey-dark);
  font-size: 12px;
}