.container {
  padding: var(--padding-xl);
  border-radius: 8px;
  background-color: var(--color-light);
  box-shadow: var(--box-shadow-m);
}

.taskSlider {
  width: 100%;
  display: flex;
  gap: var(--padding-m);
  justify-content: flex-start;
  overflow-x: auto;
}

.emptyTask {
  width: 100%;
  padding: var(--padding-l) var(--padding-xl) var(--padding-xxl);
  color: var(--color-grey-dark);
  font-size: 18px;
  text-align: center;
}


