.container {
  position: relative;
  outline: none;
}

.inputContainer {
  position: relative;
}

.input {
  padding-right: var(--padding-xxxl);
}

.toggle {
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-45%);
  border-left: 1px solid var(--color-grey);
  cursor: pointer;
  padding: 0 var(--padding-s);
}

.optionContainer {
  padding-bottom: var(--padding-l);
  position: absolute;
  z-index: 2;
  width: 100%;
}

.options {
  box-shadow: var(--box-shadow-m);
  margin-top: var(--padding-m);
  border-radius: 4px;
  overflow-x: hidden;
}

.optionList {
  display: flex;
  flex-direction: column;
}

.optionItem {
  padding: var(--padding-m) var(--padding-l);
  background-color: var(--color-light);
  cursor: pointer;
}

.optionItem:active, .optionItem:hover {
  background-color: var(--color-grey);
}