.subtask {
  display: flex;
  flex-direction: column;
}

.noSubtask {
  color: var(--color-grey-dark);
}

.addSubtaskButton {
  font-size: 14px;
  align-self: flex-end;
}

.inputSubtask {
  margin: var(--padding-m) 0;
}

.subTaskItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.removeSubtaskIcon {
  cursor: pointer;
  display: inherit;
}