@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Mali:wght@400;500;600;700&family=Lato:wght@300;400;500;600&display=swap');

:root {
  /* font-family */
  --font-family-heading: Poppins, Arial, sans-serif;
  --font-family-paragraph: Lato, sans-serif;

  /* color */
  --color-primary: rgb(57, 83, 162);
  --color-primary-dark: rgb(39, 59, 121);
  --color-primary-light: rgb(100, 124, 195);
  --color-secondary: rgb(36, 36, 36);
  --color-destructive: rgb(210, 0, 0);
  --color-destructive-dark: rgb(160, 0, 0);
  --color-destructive-light: rgb(255, 94, 94);
  --color-light: white;
  --color-dark: rgb(54, 54, 54);
  --color-dark80: rgba(54, 54, 54, 0.8);
  --color-grey20: rgba(225, 225, 225, 0.2);
  --color-grey: rgb(225, 225, 225);
  --color-grey-dark: rgb(135, 135, 135);
  --color-success: rgb(74, 147, 74);
  --color-warning: rgb(252, 173, 63);

  /* padding */
  --padding-s: 4px;
  --padding-m: 8px;
  --padding-l: 12px;
  --padding-xl: 16px;
  --padding-xxl: 24px;
  --padding-xxxl: 32px;

  /* box-shadow */
  --box-shadow-s: 1px 1px 4px -1px rgb(135, 135, 135);
  --box-shadow-m: 1px 2px 8px -2px rgb(135, 135, 135);
  --box-shadow-dark: 2px 2px 8px -1px var(--color-secondary);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family-paragraph);
  color: var(--color-dark);
}

body {
  margin: 0;
  background-color: var(--color-grey);
  overflow-x: hidden;
}

#root {
  background-color: var(--color-grey20);
}

h1, h2, h3, h4, h5, h6, button {
  margin: 0;
  font-family: var(--font-family-heading);
  line-height: 1.25;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-grey);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-dark);
  border-radius: 4px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
  border-radius: 4px;
  cursor: pointer;
}

ul, ol {
  padding-left: var(--padding-xl);
}

li {
  padding: var(--padding-s) 0;
}