@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Mali:wght@400;500;600;700&family=Lato:wght@300;400;500;600&display=swap');

:root {
  /* font-family */
  --font-family-heading: Poppins, Arial, sans-serif;
  --font-family-paragraph: Lato, sans-serif;

  /* color */
  --color-primary: rgb(233, 103, 50);
  --color-primary-dark: rgba(212,59,27,1);
  --color-primary-light: rgba(251,146,99,1);
  --color-secondary: rgba(89,113,226,1);
  --color-secondary-dark: rgba(47,44,113,1);
  --color-secondary-light: rgb(184,193,235);
  --color-destructive: rgb(210, 0, 0);
  --color-destructive-dark: rgb(160, 0, 0);
  --color-light: white;
  --color-dark: rgb(54, 54, 54);
  --color-grey: rgb(240, 240, 240);
  --color-grey-dark: rgb(135, 135, 135);
  --color-success: rgb(74, 147, 74);
  --color-warning: rgb(252, 173, 63);

  /* padding */
  --padding-s: 4px;
  --padding-m: 8px;
  --padding-l: 12px;
  --padding-xl: 16px;
  --padding-xxl: 24px;
  --padding-xxxl: 32px;

  /* box-shadow */
  --box-shadow-s: 1px 1px 4px -1px rgb(135, 135, 135);
  --box-shadow-m: 2px 2px 6px -1px rgb(135, 135, 135);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family-paragraph);
  color: var(--color-dark);
}

body {
  margin: 0;
  background-color: var(--color-grey);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, button {
  margin: 0;
  font-family: var(--font-family-heading);
  line-height: 1.25;
}

.app-container {
  position: relative;
  display: flex;
}

.page-container {
  position: relative;
  width: calc(100% - 256px);
  min-width: 500px;
  height: 100%;
}

.page-wrapper {
  position: relative;
  padding: var(--padding-xxl);
  height: 100%;
}

.page-wrapper > div {
  position: relative;
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-grey);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-dark);
  border-radius: 4px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
  border-radius: 4px;
  cursor: pointer;
}